.menu-bar {
  display: flex;
}

.info-bar {
  margin-left: auto;
  margin-right: 0;
}

ul {
  display: flex;
  flex-direction: row;
}

div ul li {
  list-style-type: none;
  margin-left: 20px;
  margin-right: 10px;
}
