li {
  list-style-type: none;
}

.projects-list {
  padding-left: 0px; 
}

@media screen and (max-width: 600px) {
  .about-container,
  .skills-container,
  .projects-container,
  .contact-container {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .about-heading,
  .skills-heading,
  .projects-heading, 
  .contact-heading {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 25px;
  }

  .about-subheading,
  .skills-subheading,
  .projects-subheading, 
  .contact-subheading {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .about-grid-container, 
  .projects-grid-container,
  .contact-grid-container {
    display: flex;
    flex-direction: column;

  }

 .contact-item {
  margin: 0 auto; 
  width: 200px; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 20px 20px 20px 20px;
  border: 1px solid black;  
  border-radius: 5%; 
 }

  .about-info-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  ul.skills-list li {
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  section.front-end-container h4,
  section.back-end-container h4 {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .front-end-container,
  .back-end-container {
    display: grid;
  }

  .front-end-container {
    margin-bottom: 25px;
  }
 

  .skills-list {
    padding-left: 0px;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

@media screen and (min-width: 600px) {
  .about-container,
  .skills-container {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
  }

  .about-heading,
  .skills-heading {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 35px;
  }

  p.about-subheading {
    margin: 0px;
  }

  .about-grid-container,
  .skills-grid-container {
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: 2fr 2fr;
  }

  .skills-grid-container {
    margin-top: 50px;
  }

  .about-image {
    justify-self: end;
  }

  .about-info-section {
    padding-top: 100px;
    max-width: 500px;
  }

  .skills-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  section h4 {
    font-size: 20px;
  }

  section ul.skills-list li {
    padding: 20px;
  }
}
