li {
  list-style-type: none;
}

.projects-list {
  padding-left: 0px;
}

.about-container,
.skills-container,
.projects-container,
.contact-container {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.about-heading,
.skills-heading,
.projects-heading,
.contact-heading {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 25px;
}

.about-subheading,
.skills-subheading,
.projects-subheading,
.contact-subheading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.front-end-container,
.back-end-container {
  display: grid;
}

section.front-end-container h4,
section.back-end-container h4 {
  font-size: 20px;
  margin-bottom: 0px;
}

.front-end-container {
  margin-bottom: 25px;
}

ul.skills-list li {
  padding-top: 15px;
  padding-bottom: 5px;
}

.skills-list {
  padding-left: 0px;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.contact-item {
  margin: 0 auto;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  border: 1px solid black;
  border-radius: 5%;
}

@media screen and (max-width: 800px) {
  .about-grid-container,
  .projects-grid-container,
  .contact-grid-container {
    display: flex;
    flex-direction: column;
  }

  .about-info-section {
    padding-left: 15px;
    padding-right: 15px;
  }

  ul.skills-list li {
    padding-top: 15px;
    padding-bottom: 5px;
  }

  section.front-end-container h4,
  section.back-end-container h4 {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .front-end-container,
  .back-end-container {
    display: grid;
  }

  .front-end-container {
    margin-bottom: 25px;
  }

  .skills-list {
    padding-left: 0px;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
}

@media screen and (min-width: 800px) {
  .about-container,
  .skills-container,
  .projects-container,
  .contact-container {
    margin-left: 100px;
    margin-right: 100px;
  }

  .about-heading,
  .skills-heading,
  .projects-heading,
  .contact-heading {
    font-size: 35px;
  }

  p.about-subheading {
    margin: 0px;
  }

  .about-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-grid-container {
    margin-top: 20px;
  }

  .about-image {
    text-align: center;
    width: 400px;
    height: auto;
  }

  .about-info-section {
    max-width: 500px;
  }

  .contact-grid-container {
    display: flex; 
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  /* .skills-list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  section h4 {
    font-size: 20px;
  }

  section ul.skills-list li {
    padding: 20px;
  } */
}
