.home-page {
  margin-left: 30px;
  margin-right: 30px;
  height: 100vh; 
}

img.send {
  padding-left: 10px; 
  position: relative;
  top:  4px;
}

img.send:hover {
  color: white; 
}


@media screen and (max-width: 800px) {
  .home-page {
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
  }

  .home-heading {
    font-size: 30px;
    text-align: center;
  }

  .home-role-heading {
    font-size: 20px;
    text-align: center;
    padding-top: 0;
  }

  .home-statement {
    text-align: center;
  }

  .home-button-container,
  .home-button {
    display: flex;
    justify-content: center;
  }

  .resume-headshot {
    margin-top: 50px; 
    margin-bottom: 10px;
  }

  .headshot {
    display: flex;
    width: 215px;
    height: auto;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 30%;
  }

  .social-media-grid-column {
    display: none;
  }

  .social-media-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .social-media-icon {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 520px) {
  .headshot {
    width: 300px;
  }
}

@media screen and (min-width: 800px) {
  .social-media-container {
    display: none;
  }

  .home-page {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-gap: 10px;
    align-content: center;
  
  }

  .social-media-grid-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-media-icon {
    width: 100%;
    height: 32px;
  }

  .home-info-grid-column {
    padding-top: 50px;
    padding-right: 10px;
  }

  div.home-info-grid-column h1 {
    margin-top: 25px;
  }

  button:hover {
    color: white;
    background-color: black;
  }

  .headshot {
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 10px; 
    width: 300px;
    height: auto;
    border: 5px solid black;
    border-radius: 40%;
  }
}

@media screen and (min-width: 1000px) {
  .home-page {
    /* margin-left: 75px; 
    margin-right: 75px; */
    max-width: 1250px;
    margin: 0 auto; 
  }

  .home-heading {
    font-size: 60px;
  }

  .home-role-heading {
    font-size: 30px; 
  }

  .home-statement {
    font-size: 22px; 
  }

 .resume-headshot {
  display: flex; 
  justify-content: center;

 }
}
