.menu-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  color: white;
  background-color: black;
  position: sticky;
  top: 0;
}

.menu-header-name {
  position: relative;
  left: 5px;
  font-size: 16px;
}

/* div.info-bar ul {
  display: flex;
} */

.info-bar ul li {
  list-style-type: none;
  padding: 1px 1px 1px 1px;
  border-color: white;
}

.info-bar ul li a:hover, 
.menu-header-name a:hover {
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 625px) {
  .menu-bar {
    flex-direction: column;
    align-items: start;
  }

  nav.menu-titles {
    width: 100%;
  }

  nav div.info-bar ul {
    display: none;
    padding-left: 0px;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
  }

  /* .menu-bar-icon-close {
    display: none;
  } */

  nav div.info-bar ul.open {
    display: flex;
  }

  nav div.info-bar ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .menu-bar-icon {
    font-size: 22px;
    position: absolute;
    top: 11px;
    right: 10px;
  }
}

@media screen and (min-width: 625px) {
  /* .menu-bar {
    display: flex;
  } */

  .menu-header-name {
    top: -1px;
  }

  .info-bar {
    position: relative;
    bottom: 2.5px;
    left: 5px;
    margin-left: auto;
    margin-right: 20px;
  }

  div.info-bar ul {
    display: flex;
    flex-direction: row;
  }

  div.info-bar ul li {
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
  }

  .menu-bar-icon {
    display: none;
  }

  .menu-bar-icon-close {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .menu-header-name {
    top: 1px;
  }

  div.info-bar ul li {
    font-size: 18px;
  }
}
