.menu-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  color: white;
  background-color: black;
}

.menu-header-name {
  position: relative;
  bottom: 2px;
  left: 5px;
  font-size: 15px;
}

div.info-bar ul li {
  list-style-type: none; 
}



@media screen and (max-width: 600px) {
  div.info-bar ul li {
    display: none;
  }

  .menu-bar-icon {
    font-size: 22px;
    position: relative;
    top: 8px;
    right: 10px;
  }
}

@media screen and (min-width: 600px) {
  .menu-bar {
    display: flex;
  }

  .menu-header-name {
    font-size: 16px; 
  }

  .info-bar {
    position: relative;
    bottom: 2.5px;
    left: 5px;
    margin-left: auto;
    margin-right: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
  }

  div.info-bar ul li {
    display: flex;
    margin-left: 20px;
    margin-right: 10px;
  }

  .menu-bar-icon {
    display: none;
  }
}
